<div ng-controller="studentListController">
  <div class="card-content">
    <h3>{{title}}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>CSUB ID</th>
          <th>Evaluation</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students">
          <td>{{student.fname}}</td>
          <td>{{student.lname}}</td>
          <td>{{student.csub_id}}</td>
          <td>
            <a ng-href='#/student?id={{student._id}}'>
              <button class="btn btn-primary">Evaluation</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
