<ul class="tabs">
  <li class="btn btn-secondary">
    <a href="#/student?id={{student._id}}">
      Profile
    </a>
  </li>
  <li class="btn btn-secondary">
    <a href="#/student/eval?id={{student._id}}">
      Evaluations
    </a>
  </li>
  <li class="btn btn-secondary">
    <a href="#/student/test?testtype=wiat&student={{student._id}}">
      WIAT-III
    </a>
  </li>
  <li class="btn btn-secondary">
    <a href="#/student/test?testtype=microcog&student={{student._id}}">
      MicroCog
    </a>
  </li>
  <li class="btn btn-secondary">
    <a href="#/student/test?testtype=wais&student={{student._id}}">
      WAIS-IV
    </a>
  </li>
</ul>
